name: Test

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.4.x
          cache: true
      - name: Check formatting
        run: deno fmt --check
      - name: Type checking
        run: deno task lint
      - name: Check dependencies
        run: deno task deps
      - name: Run tests
        run: deno task test-coverage
      - name: Generate coverage report
        run: deno task coverage-report
      - name: Check coverage threshold
        run: cd gate && ./coverage.ts --require-yellow
